body {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
  }
  :root {
    --logo-color: #4d5ae5;
    --logo-span-color: #2e2f42;
    --list-color: #2e2f42;
    --link-color:  #434455;
    --section-color: #2e2f42;
    --name-color: #2e2f42;
    --text-color:  #434455;
    --background-color:  #2e2f42;
    --batton-background-color:  #F4F4FD;
    --footer-text-color: #F4F4FD;
    


  }


.contacts .link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}
.contacts .link .std_ {
    color: var(--logo-span-color);
}
.contacts .list {
    list-style: none;
}
.contacts .list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-color);
    text-decoration: none;
}

.contacts .list .link:hover,
.contacts .list .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
.address .list .link {
    list-style: none;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
}

.address .list .link:hover,
.address .list .link:focus {
    color: #404bbf;
}
.main {
    background-color: var(--background-color);
}
.main .link {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main .button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.main .button:hover,
.main .button:focus {
    background-color: #404BBF;
}
.list {
    list-style: none;
}
.list .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
}
.list .text {
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}
.photo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--name-color); 
}
.photo .list {
    list-style: none;
}
.group {
    background-color: #F4F4FD;

}
.group .team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--name-color);

}
.group .team .list {
    list-style: none;
}
.group .team .list .comand {
    background-color: #FFFFFF;
}
.group .team .list .comand .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);

}
.group .team .list .name .comand .text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
   color: var(--text-color);
}
.foot {
    background-color: var(--background-color);
}
.foot .link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;

}
.foot .link .std_ {
    color: #f4f4fd;
}
.foot .text {
    color: var(--footer-text-color); 
    letter-spacing: 0.02em;
}
.buttons.link {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--batton-background-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.buttons .link:hover,
.buttons .link:focus {
   color: #FFFFFF;
   background-color: #404BBF;
}
.list {
    list-style: none;
}
.list .link {
    text-decoration: none;
}
.list .subscribe {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
}
.list .subscribe .product {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}